@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Alef";
    src: url("/fonts/Alef-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Alef";
    src: url("/fonts/Alef-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background: 45 100% 92%;
    --foreground: 222.2 84% 4.9%;

    --bg-200: 45 67% 88%;
    --bg-300: 45 28% 72%;

    --text-200: 0 0% 45%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 205 100% 38%;
    --primary-foreground: 0 0% 100%;

    --primary-200: 205 100% 26%;
    --primary-300: 205 100% 72%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 45 100% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --accent-200: 45 100% 35%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --nav: 205 100% 10%;
    --nav-foreground: 0 0% 100%;

    --footer: 0 0% 20%;
    --footer-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --bg-text-gradient: rgb(184, 138, 68);
    --text-gradient: linear-gradient(
      90deg,
      rgba(184, 138, 68, 1) 0%,
      rgba(249, 242, 149, 1) 11%,
      rgba(224, 170, 62, 1) 38%,
      rgba(249, 242, 149, 1) 60%,
      rgba(184, 138, 68, 1) 76%,
      rgba(252, 176, 69, 1) 100%
    );
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold text-primary;
  }

  h1 + p {
    @apply text-lg tracking-widest text-foreground-200 md:text-xl;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-6 py-2 font-bold hover:opacity-80;
  }

  .main-section-wrapper {
    @apply pt-28;
  }

  .content-wrapper {
    @apply px-8 py-16;
  }

  .heading-wrapper {
    @apply container mx-auto flex max-w-3xl flex-col items-center gap-4 p-8 text-center;
  }

  /* hamburger/close icon animation */
  .line {
    @apply h-1 w-full rounded-lg bg-nav-foreground transition;
  }

  .open .top {
    @apply translate-y-2.5 rotate-45;
  }

  .open .middle {
    @apply hidden;
  }

  .open .bottom {
    @apply -translate-y-2.5 -rotate-45;
  }
}

.hero-title-gradient {
  background-image: var(--text-gradient);
}

.hero-bg-gradient::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgb(0, 30, 51);
  background: linear-gradient(
    180deg,
    rgba(0, 30, 51, 1) 0%,
    rgba(0, 30, 51, 1) 20%,
    rgba(0, 30, 51, 0.8) 38%,
    rgba(0, 30, 51, 0) 100%
  );
}
