@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Alef";
    src: url("/fonts/Alef-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Alef";
    src: url("/fonts/Alef-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --background: 45 100% 92%;
    --primary: 205 100% 38%;
    --accent: 45 100% 50%;
    --text: 0 0% 20%;
    --bg-200: 45 67% 88%;
    --bg-300: 45 28% 72%;
    --primary-200: 205 100% 26%;
    --primary-300: 205 100% 72%;
    --accent-200: 45 100% 35%;
    --text-200: 0 0% 45%;
    --text-white: 0 0% 100%;
    --bg-nav: 205 100% 10%;
    --bg-text-gradient: rgb(184, 138, 68);
    --text-gradient: linear-gradient(
      90deg,
      rgba(184, 138, 68, 1) 0%,
      rgba(249, 242, 149, 1) 11%,
      rgba(224, 170, 62, 1) 38%,
      rgba(249, 242, 149, 1) 60%,
      rgba(184, 138, 68, 1) 76%,
      rgba(252, 176, 69, 1) 100%
    );
  }
}

/* hamburger/close icon animation */
.line {
  @apply h-1 w-full rounded-lg bg-slate-600 transition;
}

.open .top {
  @apply translate-y-2.5 rotate-45;
}

.open .middle {
  @apply hidden;
}

.open .bottom {
  @apply -translate-y-2.5 -rotate-45;
}
