---
import Base from "../../layouts/Base.astro";
import AssociationDetails from "@components/AssociationDetails.astro";
---

<Base title="Welcome to Astro." description="a page">
  <h1>Donate</h1>
  <AssociationDetails />
</Base>
