---
import Base from "../../layouts/Base.astro";
import DonationCTA from "@components/DonationCTA.astro";
---

<Base bgColor="bg-sky-100" title="Welcome to Astro." description="a page">
  <h1>Gallery</h1>
  <DonationCTA />
</Base>
