---
import Base from "../layouts/Base.astro";
import DonationCTA from "@components/DonationCTA.astro";
---

<Base title="Welcome to Astro." description="a page">
  <h1>אודות</h1>
  <DonationCTA />
</Base>
