---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="flex flex-col items-center gap-8 bg-nav bg-marketing-image bg-cover bg-center p-16 bg-blend-soft-light"
>
  <div
    class="rounded-xl border border-nav-foreground/35 bg-nav-foreground/20 p-8 text-center leading-8 text-white shadow-xl backdrop-blur-md"
  >
    <p>{t("association.name")}</p>
    <p>{t("association.num")} 580686889</p>
    <p>972-54-3862659</p>
    <p>chasadaigavriel@gmail.com</p>
  </div>
</div>
