---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import { Icon } from "astro-icon/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contacts = [
  {
    href: "mailto:refcohenil@gmail.com",
    aria: t("footer.aria.mail"),
    icon: "ph:envelope-simple",
  },
  {
    href: "https://wa.me/972543862659",
    aria: t("footer.aria.whatsapp"),
    icon: "ph:whatsapp-logo",
  },
  { href: "tel:054-3862659", aria: t("footer.aria.phone"), icon: "ph:phone" },
];
---

<footer
  id="contact"
  class="relative flex flex-col items-center gap-10 bg-footer bg-[url('../assets/bg/pattern.svg')] pb-2 pt-8 text-footer-foreground"
>
  <h2 class="text-4xl font-bold tracking-wider">{t("footer.title")}</h2>

  <div class="flex flex-col items-center gap-8 md:flex-row">
    <!-- Contacts Links -->
    <div class="flex gap-8">
      {
        contacts.map((item) => (
          <a
            href={item.href}
            aria-label={item.aria}
            class="rounded-full bg-primary-300 p-2 "
          >
            <Icon name={item.icon} class="text-4xl text-foreground" />
          </a>
        ))
      }
    </div>
    <!-- Address -->
    <div class="flex items-center gap-2">
      <Icon name="ph:map-pin" class="text-2xl" />
      <p>{t("footer.address")}</p>
    </div>
  </div>

  <!-- Rights -->
  <small>
    {t("footer.rights")} &copy; <span id="copyright"></span>
  </small>
</footer>

<script>
  const copyYear = document.getElementById("copyright") as HTMLElement;
  copyYear.textContent = new Date().getFullYear().toString();
</script>
