---
import Image from 'astro/components/Image.astro';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang)
---
<header class="bg-background-nav text-frontGround-white p-4">
  <!-- Logos -->
  <a href={translatePath('/')} class="w-16 flex">
    <Image src={t('header.LogoAvnei')} alt='Avnei Shelomo' />
    <Image src={t('header.LogoChasadai')} alt='Chasadai Gavriel' />
  </a>

  <!-- Pages links -->
  <nav>
    <ul>
        <li>
            <a href={translatePath('/')}>
              {t('nav.home')}
            </a>
        </li>
        <li>
            <a href={translatePath('/about/')}>
              {t('nav.about')}
            </a>
        </li>
        <li>
            <a href={translatePath('/lessons/')}>
              {t('nav.lessons')}
            </a>
        </li>
        <li>
            <a href={translatePath('/gallery/')}>
              {t('nav.gallery')}
            </a>
        </li>
        <li>
            <a href={translatePath('/donate/')}>
              {t('nav.donate')}
            </a>
        </li>
    </ul>
  </nav>
</header>