---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

import NavHamburger from "./NavHamburger";
import NavMobile from "./NavMobile";
import NavLinks from "./NavLinks.astro";
import LanguagePicker from "./LanguagePicker.astro";

import Image from "astro/components/Image.astro";

// logos imports
import LogoAvneiEn from "../assets/logo/avnei-shelomo_en.webp";
import LogoAvneiHe from "../assets/logo/avnei-shelomo_he.webp";
import LogoChasadaiEn from "../assets/logo/chasadai-gavriel_en.webp";
import LogoChasadaiHe from "../assets/logo/chasadai-gavriel_he.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const logoAvnei = lang === "he" ? LogoAvneiHe : LogoAvneiEn;
const logoChasadai = lang === "he" ? LogoChasadaiHe : LogoChasadaiEn;
---

<header class="bg-background-nav p-4 text-frontGround-white">
  <!-- Mobile Nav -->
  <div class="lg:hidden">
    <NavHamburger client:load />
    <NavMobile client:load>
      <NavLinks />
    </NavMobile>
  </div>

  <!-- Logos -->
  <a
    href={translatePath("/")}
    aria-label={t("logo.ariaLabel")}
    class="flex w-16 gap-4"
  >
    <Image src={logoAvnei} alt="Avnei Shelomo" />
    <Image src={logoChasadai} alt="Chasadai Gavriel" />
  </a>

  <nav>
    <NavLinks />
  </nav>

  <LanguagePicker />
</header>
