---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div
  class="container mx-auto flex max-w-2xl flex-col items-center gap-4 pb-8 text-center"
>
  <h1 class="text-5xl font-bold text-primary">{title}</h1>
  <p class="text-lg tracking-widest text-foreground-200 md:text-xl">
    {subtitle}
  </p>
</div>
