---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  text?: string;
  icon?: string;
}

const { href, ...attrs } = Astro.props;
---

<a href={href} {...attrs}>
  <slot />
</a>
