---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import ImageModal from "@components/ImageModal";

import { Image } from "astro:assets";
import gross from "../assets/testimonials/mordechai-gross.jpg";
import tatz from "../assets/testimonials/akiva-tatz.jpg";
import rozin from "../assets/testimonials/dov-rozin.jpg";
import attia from "../assets/testimonials/mordechai-attia.jpg";
import mittelman from "../assets/testimonials/aharon-mittelman.jpg";
import friedman from "../assets/testimonials/yoel-friedman.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const testimonialsList = {
  he: [
    { name: "הרב מרדכי גרוס", title: "", image: gross },
    { name: "הרב ד״ר עקיבא טץ", title: "", image: tatz },
    {
      name: "הרב דב רוזין",
      title: "רב ומו״ץ שכונת דרך החיים והאיזור וראש כולל דרך ההוראה",
      image: rozin,
    },
    { name: "הרב מרדכי עטיה", title: "ראש ישיבת ״החיים והשלום״", image: attia },
    {
      name: "הרב אהרן מיטלמן",
      title: "רב קרית אבי עזרי - מודיעין עלית",
      image: mittelman,
    },
    {
      name: "הרב יואל פרידמן",
      title: "רב שכונת חזון איש, אבן האזל, אלעד",
      image: friedman,
    },
  ],
  en: [
    { name: "Rabbi Mordechai Gross", title: "", image: gross },
    { name: "Rabbi Dr.Akiva Tatz", title: "", image: tatz },
    { name: "Rabbi Dov Rozin", title: "", image: rozin },
    { name: "Rabbi Mordechai Attia", title: "", image: attia },
    { name: "Rabbi Aharon Mittelman", title: "", image: mittelman },
    { name: "Rabbi Yoel Friedman", title: "", image: friedman },
  ],
};
---

<section class="container py-8 text-center">
  <h3 class="text-2xl font-bold tracking-widest text-foreground-200">
    {t("tes.title")}
  </h3>
  <div
    class="grid auto-cols-[20ch] grid-flow-col gap-8 overflow-x-auto overscroll-x-contain py-10"
  >
    {
      testimonialsList[lang].map((tes) => (
        <article class="grid gap-4 rounded-2xl bg-gradient-to-b from-primary/50 p-4 shadow">
          <h4 class="font-bold">{tes.name}</h4>
          {tes.title && <p>{tes.title}</p>}
          <ImageModal
            client:load
            btnText={t("tes.btn")}
            btnClass="rounded-lg border border-foreground px-4 py-1 hover:bg-background"
          >
            <Image src={tes.image} alt={`${tes.name}'s testimonial`} />
          </ImageModal>
        </article>
      ))
    }
  </div>
</section>
