---
import Base from "../../../../layouts/Base.astro";
import DonationCTA from "../../../../components/DonationCTA.astro";
import AudioLessonsContainer from "../../../../components/AudioLessonsContainer";
import folderStructure from "../../../../data/audioLessons.json";

export function getStaticPaths() {
  return folderStructure.children.map((folder) => ({
    params: { category: folder.slug },
    props: { folderData: folder },
  }));
}

const { folderData } = Astro.props;
---

<Base
  bgColor="bg-red-100"
  title={folderData.name}
  description="Audio lessons from Rabbi Raphael Cohen, Head of the institutions and Kollel"
>
  <section class="main-section-wrapper content-wrapper">
    <div class="heading-wrapper">
      <h1>{folderData.name}</h1>
      <a
        href="/en/lessons/audio/"
        class="rounded-md border border-black bg-white px-3 py-1 font-bold hover:bg-accent"
        >Back to Main</a
      >
    </div>
    <AudioLessonsContainer client:load categoryData={folderData} />
  </section>
  <DonationCTA />
</Base>
