---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

import Link from "../Link.astro";
import DonationCard from "../DonationCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section class="main-section-wrapper">
  <div class="heading-wrapper">
    <h1>{title}</h1>
    <p>
      {subtitle}
    </p>
  </div>

  <!-- Payment methods -->
  <div
    class="content-wrapper mx-auto grid max-w-4xl grid-cols-1 gap-x-10 gap-y-6 sm:grid-cols-3"
  >
    <!-- Credit card  -->
    <DonationCard icon="ph:credit-card" title={t("payment.credit.title")}>
      <div class="text-foreground-200">
        <p>{t("payment.credit.body")}</p>
      </div>
      <Link
        href="https://www.matara.pro/nedarimplus/online/?mosad=7004358"
        text={t("payment.credit.btn")}
        class="block w-full self-end bg-primary text-primary-foreground"
        target={"_blank"}
      />
    </DonationCard>

    <!-- Abroad -->
    <DonationCard icon="ph:globe" title={t("paymnet.abroad.title")}>
      <div class="text-foreground-200">
        <p>{t("payment.abroad.body1")}</p>
        <p>{t("payment.abroad.body2")}</p>
      </div>
      <div class="flex flex-col gap-4">
        <Link
          href="https://app.atc.fund/?s=donateNow&id=4Y3Y8J"
          text={t("payment.abroad.btn.us")}
          class="block w-full bg-accent text-accent-foreground"
          target={"_blank"}
        />
        <Link
          href="http://donate.achisomoch.org/6581"
          text={t("payment.abroad.btn.uk")}
          class="block w-full bg-accent text-accent-foreground"
          target={"_blank"}
        />
      </div>
    </DonationCard>

    <!-- Bank transfer -->
    <DonationCard icon="ph:bank" title={t("payment.bank.title")}>
      <div class="text-foreground-200">
        <p>{t("payment.bank.bank")}</p>
        <p>{t("payment.bank.branch")}</p>
        <p>{t("payment.bank.account")}</p>
      </div>
    </DonationCard>
  </div>
</section>
