---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../../i18n/utils";

import Link from "../Link.astro";
import Testimonial from "../Testimonial";

import { Image } from "astro:assets";
import refaelImage from "../../assets/misc/refael.jpg";
import gross from "../../assets/testimonials/mordechai-gross.webp";
import tatz from "../../assets/testimonials/akiva-tatz.webp";
import rozin from "../../assets/testimonials/dov-rozin.webp";
import attia from "../../assets/testimonials/mordechai-attia.webp";
import mittelman from "../../assets/testimonials/aharon-mittelman.webp";
import friedman from "../../assets/testimonials/yoel-friedman.webp";

import { getEntry, render } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const infoData = await getEntry('homeInfo', lang);
const {Content} = await render(infoData);

const testimonialsList = {
  he: [
    { name: "מורנו הגאון הרב גרוס שליט״א", title: "", image: gross },
    { name: "הרה״ג הרב טץ שליט״א", title: "", image: tatz },
    {
      name: "הרה״ג הרב רוז׳ין שליט״א",
      title: "רב ומו״ץ שכונת דרך החיים והאיזור וראש כולל דרך ההוראה",
      image: rozin,
    },
    {
      name: "הרה״ג הרב עטיה שליט״א",
      title: "ראש ישיבת ״החיים והשלום״",
      image: attia,
    },
    {
      name: "הרה״ג הרב מיטלמן שליט״א",
      title: "רב קרית אבי עזרי - מודיעין עלית",
      image: mittelman,
    },
    {
      name: "הרה״ג הרב פרידמן זצ״ל",
      title: "רב שכונת חזון איש, אבן האזל, אלעד",
      image: friedman,
    },
  ],
  en: [
    { name: "Rabbi Mordechai Gross", title: "", image: gross },
    { name: "Rabbi Dr.Akiva Tatz", title: "", image: tatz },
    { name: "Rabbi Dov Rozin", title: "", image: rozin },
    { name: "Rabbi Mordechai Attia", title: "", image: attia },
    { name: "Rabbi Aharon Mittelman", title: "", image: mittelman },
    { name: "Rabbi Yoel Friedman", title: "", image: friedman },
  ],
};
---
<!-- Main video -->
<div class="flex justify-center pt-16">
  <iframe
    width="560"
    height="315"
    src="https://player.vimeo.com/video/1075632828?h=b76d45be02&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    title="Avnei Shelomo - promotional video"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    allowfullscreen></iframe>
</div>

<!-- Refael -->
<section
  class="content-wrapper mx-auto flex max-w-5xl flex-col gap-10 lg:flex-row"
>
  <div class="overflow-hidden rounded-3xl lg:min-w-80">
    <Image src={refaelImage} alt="רפאל כהן" class="h-full object-cover" />
  </div>
  <div class="flex flex-col gap-6">
    <div>
      <h3 class="mb-4 text-3xl font-bold text-primary">{infoData.data.title}</h3>
      <Content />
    </div>
    <div class="flex flex-col gap-6 sm:flex-row">
      <Link
        href={translatePath("/about/")}
        text={t("readMore.btn")}
        icon={t("arrow.icon")}
        class="border border-primary text-primary"
      />
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="container py-8 text-center">
  <h3 class="text-2xl font-bold tracking-widest text-foreground-200">
    {t("tes.title")}
  </h3>
  <div
    class="grid auto-cols-[20ch] grid-flow-col gap-8 overflow-x-auto overscroll-x-contain py-10"
  >
    {
      testimonialsList[lang].map((tes) => (
        <Testimonial client:load tesData={tes} btnText={t("tes.btn")} />
      ))
    }
  </div>
</section>