---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Image } from "astro:assets";
import soon from "../../assets/misc/coming-soon.webp";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="main-section-wrapper">
  <div class="heading-wrapper">
    <h1>{title}</h1>
    <p>
      {subtitle}
    </p>
  </div>
  <div
    class="content-wrapper m-8 flex items-center justify-center bg-orange-300"
  >
    <Image src={soon} alt="coming soon" width={400} />
  </div>
</section>
