---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

import LessonsContainer from "../LessonsContainer";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const videoFiles = [
  { name: "סרטון תדמית", url: "https://gavriel.kvod.co.il/player/2omskim9" },
];

const audioFiles = [
  {
    name: "שיעור קצר על פנימיות קרבן הפסח - יש לנו קצת קרבן גם היום",
    url: "https://drive.google.com/file/d/1AoLppHBtTyNxJ5OFK7CBoW2sM7ze7RRn/preview?usp=sharing",
  },
  {
    name: "שיעור קצר פסח ושביעי של פסח",
    url: "https://drive.google.com/file/d/1Gq4LXI1nISGS_JdXJIzXFkbUVxt4_GtF/preview?usp=sharing",
  },
  {
    name: 'שיעור קצר -טבת תשפ"ג',
    url: "https://drive.google.com/file/d/18XMqRyFtcqeSn2xFLPrBKDaR4NTtsii0/preview?usp=sharing",
  },
  {
    name: 'שיעור קצר -כסלו תשפ"ג',
    url: "https://drive.google.com/file/d/1F2uR8yYKZCYgQDrIsER3xk8h-Av-C-yx/preview",
  },
  {
    name: "כוונות פורים-תשעג",
    url: "https://drive.google.com/file/d/1hY_oHRA5Sfp1dv8Z2_AfF4ygdIUqtVFr/preview",
  },
  {
    name: "טו בשבט",
    url: "https://drive.google.com/file/d/1yJTi96-18139LOU0bJmNbwBX3wC4_ONy/preview",
  },
  {
    name: "כונות חנוכה",
    url: "https://drive.google.com/file/d/16PFZnJzt4PgT6XjstAR4KzsHeZAdFkUu/preview",
  },
  {
    name: "ראש השנה תשעג",
    url: "https://drive.google.com/file/d/1kBH7ZnrDd18z-rMBAqK2qwgPiH5tsI6v/preview",
  },
  {
    name: "שיעור שבת הגדול -אלי כץ-לונדון",
    url: "https://drive.google.com/file/d/1fpnBhYMXcU29B07Bff__e9XCkiDBKndi/preview",
  },
  {
    name: "ג׳ סיבות לצמצום",
    url: "https://drive.google.com/file/d/13IX1TOl_TA8hiZHKQTIdTo6fKF8dgseN/preview",
  },
  {
    name: "תן טל ומטר -לונדון תש_פ",
    url: "https://drive.google.com/file/d/1FILYD-_dTRGwTPqv0gxEhL4e8ylL3orH/preview",
  },
];
---

<section class="main-section-wrapper">
  <div class="heading-wrapper">
    <h1>{title}</h1>
    <p>
      {subtitle}
    </p>
  </div>
  <LessonsContainer
    client:load
    translatedTabs={[t("lessons.audio"), t("lessons.video")]}
    tabsContent={[audioFiles, videoFiles]}
  />
</section>
