---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import audioFiles from "../../data/audioLessons";
import videoFiles from "../../data/videoLessons";
import LessonsContainer from "../LessonsContainer";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="main-section-wrapper">
  <div class="heading-wrapper">
    <h1>{title}</h1>
    <p>
      {subtitle}
    </p>
  </div>
  <LessonsContainer
    client:load
    translatedTabs={[t("lessons.audio"), t("lessons.video")]}
    tabsContent={[audioFiles, videoFiles]}
  />
</section>
