---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

import LessonsContainer from "../LessonsContainer";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const videoFiles = [
  { name: "סרטון תדמית", url: "https://gavriel.kvod.co.il/player/2omskim9" },
];

const audioFiles = [
  {
    name: "שיעור קצר על פנימיות קרבן הפסח - יש לנו קצת קרבן גם היום",
    url: "https://drive.google.com/file/d/1AoLppHBtTyNxJ5OFK7CBoW2sM7ze7RRn/preview?usp=sharing",
  },
  {
    name: "שיעור קצר פסח ושביעי של פסח",
    url: "https://drive.google.com/file/d/1Gq4LXI1nISGS_JdXJIzXFkbUVxt4_GtF/preview?usp=sharing",
  },
  {
    name: 'שיעור קצר -טבת תשפ"ג',
    url: "https://drive.google.com/file/d/18XMqRyFtcqeSn2xFLPrBKDaR4NTtsii0/preview?usp=sharing",
  },
  {
    name: 'שיעור קצר -כסלו תשפ"ג',
    url: "https://drive.google.com/file/d/1F2uR8yYKZCYgQDrIsER3xk8h-Av-C-yx/preview",
  },
];
---

<section class="main-section-wrapper">
  <div class="heading-wrapper">
    <h1>{title}</h1>
    <p>
      {subtitle}
    </p>
  </div>
  <LessonsContainer
    client:load
    translatedTabs={[t("lessons.video"), t("lessons.audio")]}
    tabsContent={[videoFiles, audioFiles]}
  />
</section>
